// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// Colors
$primary: #1985A1;

//focus ring
$focus-ring: rgba($primary, 0.5);

// scroll
$enable-smooth-scrolling: true;
$scroll-behavior: smooth;